@charset "utf-8";

body {
  margin: 0;
}

body table {
  margin: 0px auto;
  padding: 64px 0px;
  background: #d7e6da;
  width: 1000px;
  text-align: center;
}

html {
  background-image: url("IMG_0555.jpg");
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
  color: #333;
}

p {
  margin: 0;
  font-size: 16px;
}

img {
 vertical-align: bottom;
 margin: 64px;
 border-radius: 50%;
 box-shadow: 0 0 16px gray;
}

.side {
  vertical-align: top;
  background:rgb(204, 238, 204);
}

ul {
  line-height:3;
  font-size: 15px;
  background-color: #ccc; 
}

